* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

footer {
  bottom: 0px;
  left: 0px;
  background-color: red;
  list-style-type: none; }

.navBackground {
  background-color: red;
  position: sticky;
  list-style-type: none; }

ul {
  font-style: italic;
  list-style: none;
  font-size: 0; }

li {
  font-style: italic;
  display: inline-block;
  width: 10%;
  position: relative;
  font-size: 1.2rem;
  text-align: center; }

.estiloLista {
  font-size: 2rem; }

h1 {
  font-style: italic;
  text-align: center; }

article {
  bottom: 5px;
  left: 300px;
  text-align: center; }

img {
  border-radius: 10px; }

p {
  font-style: italic;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; }

h2 {
  font-style: italic;
  text-align: center;
  font-weight: bold; }
